@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body{
    background-color: rgb(120, 160, 210);
}

h1, h3, p{
    color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #link3{
    background-color: rgba(185, 185, 20, .5);
  
    padding:20px;
    
    border:2px;
    border-color:whi;
    border-style: solid;
    border-radius: 10px;
  
    font-family: 'Courier New', Courier, monospace;
    font-weight:700;
    color:white;
    
    text-decoration: none;
    
  }
  
  #link3:hover{
  
    background-color: rgba(185, 185, 20, .8);
  
    border:2px;
    border-color:rgb(220, 220, 30);
    border-style: solid;
    
  }

.chart{
    background-color: white;
    width:450px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
    text-align: center;
}

.wrap{
    margin: auto;
    max-width: 1600;
    background-color: rgb(48, 48, 48);

      
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
}

.grid_items {
    padding: 2px;
    display: grid;
    grid-template-columns: 100%;
    max-width: 800px; 
    margin: 0 auto 0 auto !important;
    padding: 0 5 0 5; 
    grid-column-gap: 5px;
    grid-row-gap: 20px;
  }
  .grid_items > div {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    width: 280px;
    margin:auto;
  }
  .grid_items > div:nth-child(3n + 2) {
    background-color: #ffffff;
  }
  .grid_items > div:nth-child(3n) {
    background-color: #ffffff;
  }

  /* Two columns*/
  @media only screen and (min-width: 900px) {
    .grid_items, .wrap {
      grid-template-columns: 47.5% 47.5%;
      max-width: 880px; 
      margin: 0 auto 0 auto !important;
      padding: 0 5 0 5; 
      grid-column-gap: 10px;
      grid-row-gap: 40px;
      text-align: left;
    }
    .grid_items > div {
      padding: 10px;
    }
  }